@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Hi+Melody&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Waterfall&display=swap");

:root {
    --primary-color: #aca393;
    --secondary-color: #2b323c;
    --third-color: #1f2328;
    --fourth-color: #8e8c89;
    --background-primary: #17181a;
    --border: #525252;
    --primary-muted: #aca39363;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: "Dosis", sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    position: relative;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    padding-left: 2.5vw;
    display: flex;
    align-items: center;
}

.header-left img {
    width: 75px;
}

.header-left h1 {
    color: var(--primary-color);
    font-family: "Stick No Bills", sans-serif;
    font-size: 3rem;
}

.header-right {
    padding-right: 4vw;
}

.header-right ul {
    display: flex;
    gap: 10px;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 15vw) 1fr;
}

.aside {
    position: relative;
    min-height: calc(85vh - 50px);
    background-color: var(--secondary-color);
    border-right: 1px solid var(--border);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.aside li {
    padding-bottom: 10px;
}

.aside h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.main {
    min-height: calc(85vh - 50px);
    background-color: var(--third-color);
    padding: 4vh 4vw;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--background-primary);
    border-top: 1px solid var(--border);
}

footer .about {
    display: flex;
    align-items: center;
}

.githubIcon {
    height: 25px;
    padding-left: 10px;
    padding: 0 10px;
    transition: transform 1s ease-in-out;
}

.githubIcon:hover {
    transform: rotate(360deg);
}

.about a {
    color: var(--primary-color);
    text-decoration: none;
}

.hidden {
    display: none;
}

.input {
    width: 100%;
    color: var(--background-primary);
    background-color: var(--fourth-color);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
}

.input::placeholder {
    color: var(--background-primary);
}

.label {
    color: var(--primary-color);
    padding-left: 5px;
    padding-bottom: 5px;
}

select option {
    color: var(--background-primary);
    background-color: var(--fourth-color);
}

.modal {
    position: absolute;
    width: 25vw;
    min-width: 300px;
    top: 0;
    left: 50%;
    margin-top: 10vh;
    transform: translateX(-50%);
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.close-btn,
.close-btn-project,
.close-btn-task {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal h2 {
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 10px;
}

.center {
    align-self: center;
}

.btn {
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--background-primary);
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.content {
    position: relative;
}

.task-item {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.project-item {
    width: 100%;
    transition: background 0.3s ease-in-out;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.project-item:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
}

.project-item a {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    overflow: hidden;
}

.project-list li {
    position: relative;
}

.new-project-btn {
    position: absolute;
    bottom: 20px;
    font-size: 1.3rem;
    left: 3.5vw;
}

.active-project {
    border-left: 2px solid var(--border);
    font-weight: bold;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--third-color);
}

form textarea {
    max-width: 100%;
    min-width: 100px;
}

.home-project {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.home-project:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
}

.project-header {
    position: relative;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    border-bottom: 1px solid var(--border);
}

.project-header-name {
    font-size: 2rem;
}

.project-header-details {
    font-size: 1.5rem;
    font-family: "Waterfall", cursive;
}

.new-task-btn {
    font-size: 1.3rem;
}

.new-task-btn i:hover {
    transform: scale(1.3);
}

.flex-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-task-items {
    display: flex;
    gap: 25px;
    padding-right: 5.3vw;
}

.flex-task-items div {
    width: 100px;
    text-align: center;
}

.project-properties-right {
    display: flex;
    gap: 25px;
    position: absolute;
    right: 6vw;
    align-self: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
}

.project-properties-right div {
    width: 100px;
    text-align: center;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 25px;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

.project-properties-left {
    position: absolute;
    left: 50px;
    align-self: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
}

.crossed {
    text-decoration: line-through;
    color: var(--primary-muted);
}

.edit-btn-task {
    position: absolute;
    top: 10px;
    right: 55px;
    cursor: pointer;
}

.details-btn-task {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.border-left-high {
    border-left: 3px solid rgba(255, 0, 0, 0.5);
}

.border-left-normal {
    border-left: 3px solid rgba(255, 166, 0, 0.5);
}

.border-left-low {
    border-left: 3px solid rgba(135, 207, 235, 0.5)
}

.counter {
    float: right;
    background-color: var(--primary-color);
    color: var(--third-color);
    width: 20px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
}

.emoji {
    text-align: center;
    font-size: 70px;
    margin-top: 10vh;
    color: var(--primary-color);
    font-family: "Courier New", Courier, monospace;
}

.emoji-text {
    font-size: 20px;
    color: var(--fourth-color);
}